.main-page__wrapper {
  width: 100%;

  .main-page__inner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: var(--max-width-desktop);
    display: flex;
    flex-direction: column;

  }
}

@media (min-width:640px) {
  .main-page__wrapper {
    // margin-right: 60px;
    // margin-left: 60px;
    // width: auto;

    // .main-page__inner {
    //   padding: 0 5px;

    //   .news-list__wrapper {
    //     margin-bottom: 150px;
    //   }
    // }
  }
}


@media (min-width:1280px) {}