.description__wrapper {
  background-color: var(--background-color-white);
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--font-black);

  .description__inner {
    padding: 50px 16px;

    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    h2 {
      color: var(--font-black);
      margin-bottom: 20px;
    }


    .description__content {
      font-weight: 500;
      line-height: 140%;
      color: var(--font-grey);
      // font-size: 16px;


      p {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }


  }


}

@media (min-width:640px) {
  .description__wrapper {

    .description__inner {
      padding: 80px 40px;

      h2 {
        margin-bottom: 0;
      }
    }
  }
}


@media (min-width:1200px) {
  .description__wrapper {

    .description__inner {
      padding: 95px 40px;
      background-image: url('./../../../images/xray.png');
      background-size: 500px auto;
      background-repeat: no-repeat;
      background-position: left bottom;
      flex-direction: row;

      h2 {
        margin-right: 30px;
        width: 50%;
      }

      .description__content {
        border-left: 1px solid #00000022;
        padding-left: 30px;
        width: 50%;
        margin-bottom: 180px;

        p {
          margin-bottom: 30px;
        }

      }
    }
  }
}