.description__wrapper {
  background-color: var(--background-color-white);
  margin: 0;
  padding: 0;
  width: 100%;
  color: var(--font-black);

  .description__inner {
    padding: 50px 16px;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    h2 {
      color: var(--font-black);
      grid-area: a;
      max-width: 600px;
      margin: 0 auto 20px;
    }

    img {
      grid-area: b;
      width: 100%;
      height: auto;
      max-width: 500px;
      margin: 0 auto;
    }


    &-content {
      grid-area: c;
      font-weight: 500;
      line-height: 140%;
      color: var(--font-grey);
      max-width: 600px;
      margin: 0 auto;

      p {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }


  }


}

@media (min-width:640px) {
  .description__wrapper {

    .description__inner {
      padding: 80px 40px;
      gap: 30px;

      &-content {
        font-size: 20px;
      }

      h2 {
        margin-bottom: 0;
      }

      img {
        min-width: 360px;
        max-width: 500px;
      }
    }
  }
}

@media (min-width:960px) {
  .description__wrapper {
    .description__inner {
      padding: 80px 40px;
      grid-template: "a b"auto "c b"auto;
      display: grid;




    }
  }
}


@media (min-width:1200px) {
  .description__wrapper {

    .description__inner {
      padding: 95px 40px;
      grid-template: "a c"585px "b c"auto;

      h2 {
        margin-right: 30px;
      }


      img {
        margin-top: -500px;
      }


      &-content {
        border-left: 1px solid #00000022;
        padding-left: 30px;
        margin-bottom: 180px;
        font-size: 25px;

        p {
          margin-bottom: 30px;
        }

      }
    }
  }
}